[submodule "vim-powerline"]
        path = .janus/vim-powerline
        url = git@github.com:Lokaltog/vim-powerline.git
[submodule ".vim"]
	path = .vim
	url = git@github.com:carlhuda/janus.git
[submodule ".gnome-terminal-solarized"]
	path = .gnome-terminal-solarized
	url = git://github.com/sigurdga/gnome-terminal-colors-solarized.git
